table {
  font-family: "Helvetica Neue", Helvetica, sans-serif
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: SteelBlue;
  color: white;
}

th,
td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}
tbody tr td:nth-child(1) {
  text-align: center;
}

tbody tr td:nth-child(2),
tbody tr td:nth-child(3) {
  text-align:left;
}


tbody tr td:nth-child(4) {
  text-align: center;
  font-family: monospace;
}

#add caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

#add table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

#add input {
  height:25px;
  width:160px;
  padding:5px 8px;
  background-color:white;
}
#add th {
  padding: 10px 8px;
  background-color:white;
}
#add td {
  text-align: left;
  padding: 9px 8px;
  background-color:white;
}

#button {
  background: #B9DFFF;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
}


